{% extends "basegrid.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
 <div class="col-md-12" style="height: 200px;" >
    <h1 style=" text-align: left; margin-top: 20px; margin-bottom: 10px;">{{titlepag}}</h1>
    {% block botones %}

    {% endblock %}

        <table id="example" class="table table-striped table-bordered" style="width:100%;">
            <thead>
                {% block columns %}

                {% endblock %}
            </thead>
            <tbody>
                {% block rows %}

                {% endblock %}
            </tbody>
        </table>
 </div>
<!-- Modal -->
<div class="modal fade " id="edicion" role="dialog">
    
      
</div>
{% endblock content %}
{% block extrajs %}
<script type="text/javascript">
    var editor;
    var selectArray="";
    var $=jQuery.noConflict();

    var visible=0;
    function openBuscar()
    {
        if(visible==0){
            document.getElementsByClassName("dataTables_filter")[0].style.visibility='visible';
            
            visible=1;
        }
        else{
            $('#example').DataTable().search( "" ).draw();
            document.getElementsByClassName("dataTables_filter")[0].style.visibility='hidden';
            visible=0;
        }
    }

    function openPopup(url){
        $('#edicion').load(url,function(){
            $(this).modal('show');
        });
    }
    function deleteRegister(dataurl,wlocation){
      var table = $("#example").DataTable();      
      if(table.rows('.selected').data().length>0){
        var pk = table.rows('.selected').data()[0][0];
        var dataurl=dataurl
        var url=dataurl.replace('0',pk)
        Swal.fire({
        title: 'Estas seguro?',
        text: "No podrás revertir esto!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText:'Cancelar',
        confirmButtonText: 'Si, deseo eliminarlo!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({      
                    url:url,
                    type:'POST',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    dataType:'json'      
                    }).done(function(data){
                    if(!data.hasOwnProperty('error')){
                        Swal.fire({
                            title:'Borrado!',
                            text:'El registro ha sido eliminado correctamente',
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                        })
                        window.location=wlocation;
                        return false;
                    }
                    message_error(data.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {
                });
            }
        })

        // var url=dataurl.replace('0',pk)
        // $('#edicion').load(url,function(){
        // $('#edicion').modal('show');
        // });

      }else{
        Swal.fire({
            text:'Primero debe seleccionar el registro que desea eliminar',
            icon: 'warning',
            confirmButtonColor: '#3085d6',
        })        
      }
      

    }
    function openEdit(dataurl){
        var table = $("#example").DataTable();
        if(table.rows('.selected').data().length>0){
            var pk = table.rows('.selected').data()[0][0];

            var dataurl=dataurl
            var url=dataurl.replace('0',pk)
            $('#edicion').load(url,function(){
            $('#edicion').modal('show');
            });
            
        }else{
            Swal.fire({
            text:'Primero debe seleccionar el registro que desea editar',
            icon: 'warning',
            confirmButtonColor: '#3085d6',
            })    
        }
       
    }
    $(document).ready(function(){
        var events = $('#events');
        var table = $("#example").DataTable({
        language: {
            "select": {
            "cells": {
                "1": "",
                "_": ""
            },
            "columns": {
                "1": "",
                "_": ""
            },
            "rows": {
                "1": "",
                "_": ""
            }
            },
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
            
        },
        "dom": '<"toolbar">frtip',
         //"dom": '<lf<t>ip>',
           // dom: 'Pfrtip',


           // "dom": '<"top"i>rt<"bottom"flp><"clear">',
       

              //2 - tipo de selección 
              select: {
                style: 'single'
                },
                

            //dom: "Bfrtip",
            //ajax: "../php/staff.php",
            searching: true,
            responsive: true,
            "scrollX": true,
            scrollY:        '50vh',
            scrollCollapse: true,

                
            
            
            // buttons: [
            //  {
                // extend: 'selected',
               
                //  action: function ( e, dt, node, config ) {
                //      for (var i = 0; i < table.rows('.selected').data().length; i++) {
                //      selectArray += table.rows('.selected').data()[i][2];
                //      if (i+1 < table.rows('.selected').data().length) {
                //        selectArray += ',';
                //      }
                //      }

                //      var rows = dt.rows( { selected: true } ).count();
    
                //      alert( 'Data seleccionado '+selectArray+'' );
                //  },
                // text: 'Reload',
                //     action: function ( e, dt, node, config ) {
                //         dt.ajax.reload();
                //     },
                // text: 'Reloade',
                //     action: function ( e, dt, node, config ) {
                //         dt.ajax.reload();
                //     }
                
                
                
        //     }
        //  ]

         });

     })

</script>
{% endblock extrajs %}