{% extends "mydb01/base.html" %}

{% block title %} Cambiar Password {% endblock %}

{% block content %}

    {% if enviado %}

       <p class="resultado">
           Datos insertados correctamente en la Tabla Tutoriales.
       </p>

       <p class="resultado">
        Edicion de Password: {{conxtext.title}} <br>
        Password : {{context.entity}} <br>
        Lista url : {{context.list_url}} <br>
        Editar : {{context.action}} <br>
       </p>
       <button type="button">
           <a class="link-boton" href="{% url 'mydb:tutindex' %}"> Continuar </a>

       </button>
    {% else  %}

        <h2> Ingrese los datos del Tutorial</h2>

        <form action="." method="post"> {% csrf_token %}
            {{ formulario.as_p }}
            <button type="button">
                <a class="link-boton" href="{% url 'mydb:tutindex' %}"> Cancelar </a>
            </button>
            <input type="submit" value='Ingresar'>
        
        </form>


    {% endif %}

{% endblock %}