{% extends "basegrid.html" %}
 
{% block title %}Crear proveedor{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4></h4> 
         
 <form method="POST" class="post-form" action="/addnew">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <h3>Ingrese los detalles</h3>  
  </div>  
   </div>  
   
   <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Numero documento</label>  
  <div class="col-sm-4">  
    <input class="form-control" type="text" placeholder="Numero documento" name="nombre" required="true" /> 
  </div>  
   </div>  
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Tipo persona:</label>  
  <div class="col-sm-4">  
    <input class="form-control" type="text" placeholder="Tipo persona" name="nombre" required="true" />
  </div> 
  </div>
  <div class="form-group row">  
  <label class="col-sm-2 col-form-label">Tipo documento:</label>  
  <div class="col-sm-4">  
    <input class="form-control" type="text" placeholder="Tipo documento" name="nombre" required="true" />  
  </div>  
   </div>  
   <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nombre:</label>  
    <div class="col-sm-4">  
      <input class="form-control" type="text" placeholder="Nombre" name="nombre" required="true" />  
    </div>  
     </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Correo electronico:</label>  
        <div class="col-sm-4">  
        <input class="form-control" type="text" placeholder="Correo electronico" name="nombre" required="true" />  
        </div>  
        </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Celular:</label>  
        <div class="col-sm-4">  
            <input class="form-control" type="text" placeholder="Celular" name="nombre" required="true" />  
        </div>  
            </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Dirección:</label>  
        <div class="col-sm-4">  
        <input class="form-control" type="text" placeholder="Dirección" name="nombre" required="true" />  
        </div>  
        </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Pais:</label>  
        <div class="col-sm-4">  
            <input class="form-control" type="text" placeholder="Pais" name="nombre" required="true" />  
        </div>  
            </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Departamento:</label>  
        <div class="col-sm-4">  
            <input class="form-control" type="text" placeholder="Departamento" name="nombre" required="true" />  
        </div>  
            </div> 
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Municipio:</label>  
        <div class="col-sm-4">  
            <input class="form-control" type="text" placeholder="Municipio" name="nombre" required="true" />  
        </div>  
            </div> 
  <div class="form-group row">  
  <label class="col-sm-1 col-form-label"></label>  
  <div class="col-sm-4">  
  <button type="submit" class="btn btn-primary">Crear</button>  
  </div>  
   </div>  
  </div>  
 </form>  
</div> 
{% endblock content %} 