<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tipo Producto </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" class="post-form" action="/addnew">  
         <div class="container">  
            <div class="form-group row">  
              <!-- <label class="col-sm-2 col-form-label">Id categoria:</label>  
              <div class="col-sm-4">  
                <input class="form-control" type="number" placeholder="idcategoria" name="idcategoria" required="true" /> 
              </div> -->
              <label class="col-sm-2 col-form-label">Nombre:</label>  
              <div class="col-sm-4">  
                <input class="form-control" type="text" placeholder="nombre" name="nombre" required="true" /> 
              </div>
              <br>
              <br>
              <br>
                <label class="col-sm-2 col-form-label">Descripcion:</label>  
                <div class="col-sm-4">  
                  <input class="form-control" type="text" placeholder="Descripcion" name="Descripcion" required="true" />
                
         </div>  
        </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
