{% extends "basegrid.html" %}
 
{% block title %}Employee Records{% endblock title %}
 
{% block content %}
 <div class="col-md-12">
        <h4>Proveedores</h4> <span><a href="{% url 'crearProveedor' %}" class="btn btn-primary">Crear</a></span>  
        <div class="table-responsive">
  <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Documento</th>
                <th>Tipo persona</th>
                <th>Tipo documento</th>
                <th>Nombre</th>
                <th>Correo electronico</th>
                <th>Celular</th>
                <th>Dirección</th>
                <th>Pais</th>
                <th>Departamento</th>
                <th>Municipio</th>
             </thead>
   <tbody>
    <tr>
        <td>1002136</td>
        <td>Kevin</td>
        <td>Alvarez</td>
        <td>Natural</td>
        <td>Cedula</td>
        <td>314425456</td>
        <td>alvarezke@gmsd.co</td>
        <td>Antioquia</td>
        <td>Medellin</td>
        <td>cr 45 # 102 - 45</td>
    
    </tr>
 
   </tbody>
         
  </table>
        </div>
    </div>
{% endblock content %}