{% extends "users/base.html" %}

{% block head_content %}
<title>Registrarse</title>
{% endblock %}

{% block container %}

    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    <!-- Menu -->
        <h1> Registrate </h1>
        <form action="{% url 'registro' %}" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre" name="nombre" required="true" />
            </div>

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Apellido" name="apellido" required="true" />
            </div>

            <div class="form-group">
                <input class="form-control" type="email" placeholder="Correo electronico" name="email" required="true" />
            </div>
    
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Nombre usuario" name="username" required="true" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Contraseña" name="password" required="true" />
            </div>    
            
            <button class="btn btn-primary btn-block mt-5" type="submit">Registrarse</button>

            </label>

        </form>
{% endblock %}