{% extends "basegrid.html" %}
 
{% block title %}Clientes{% endblock title %}
 
{% block content %}
 <div class="col-md-12" style="height: 200px;" >
        <h1 style=" text-align: left; margin-top: 20px; margin-bottom: 10px;">Clientes</h1>
        
        <div style="position: absolute; z-index: 1; right: 10px; top: 95px;" >
            <button onclick="openPopup('{% url 'crearCliente' %}')" class="btn btn-primary">Crear</button>  
            <button onclick="openEdit()" class="btn btn-primary">Modificar</button>
            <button onclick="deleteRegister()" class="btn btn-primary">Eliminar</button>
            <button onclick="openBuscar()" class="btn btn-primary">Buscar</button>
        </div>
            <table id="example" class="table table-striped table-bordered" style="width:100%;">
                <thead>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Tipo persona</th>
                    <th>Tipo documento</th>
                    <th>Celular</th>
                    <th>Correo electronico</th>
                    <th>Departamento</th>
                    <th>Municipio</th>
                    <th>Direccion</th>
                    <th>Nombre contacto</th>
                    <th>Telefono contacto</th>
                        
                </thead>
                <tbody>
                    <tr>
                        <td>255</td>
                        <td>Kevin</td>
                        <td>Alvarez</td>
                        <td>Natural</td>
                        <td>Cedula</td>
                        <td>314425456</td>
                        <td>alvarezke@gmsd.co</td>
                        <td>Antioquia</td>
                        <td>Medellin</td>
                        <td>cr 45 # 102 - 45</td>
                        <td>Vanessa Alvarez</td>
                        <td>32056662654</td>
                    
                    </tr>
                    <tr>
                        <td>1005424</td>
                        <td>Carlos</td>
                        <td>Builes</td>
                        <td>Natural</td>
                        <td>Cedula</td>
                        <td>320551613</td>
                        <td>Cbu@gmfd.com</td>
                        <td>Antioquia</td>
                        <td>Medellin</td>
                        <td>cr 45 # 102 - 45</td>
                        <td>Andrea Montoya</td>
                        <td>3254265124</td>
                       
                    </tr>
                    <tr>
                        <td>516623</td>
                        <td>Andres</td>
                        <td>Echavarria</td>
                        <td>Natural</td>
                        <td>Cedula</td>
                        <td>3135264352</td>
                        <td>and@gmsd.co</td>
                        <td>Antioquia</td>
                        <td>Medellin</td>
                        <td>cr 89 # 10 - 52</td>
                        <td>Andres echa</td>
                        <td>32569466</td>
                      
                    </tr>
                    
                </tbody>
               
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="edicion" role="dialog" role="dialog">
        
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Formulario-->
                  <form method="POST" class="post-form" action="/addnew">  
                   <div class="container">  
                      <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Tipo persona:</label>  
                        <div class="col-sm-4">  
                          <select class="form-control" name="TipoPersona" id="cars">
                            <option value="Natural">Natural</option>
                            <option value="Juridica">Juridica</option>
                          </select>   
                        </div>
                        <label class="col-sm-2 col-form-label">Correo electronico:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Correo electronico" name="email" required="true" />
                        </div>  
                      </div>
                      <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Tipo documento:</label>  
                        <div class="col-sm-4">  
                          <select class="form-control" name="TipoDocumento" id="cars">
                            <option value="Cedula">Cedula</option>
                            <option value="Pasaporte">Pasaporte</option>
                          </select>   
                        </div>
                        <label class="col-sm-2 col-form-label">Departamento:</label>  
                        <div class="col-sm-4">  
                            <select class="form-control" name="departamento" id="cars">                                
                                <option value="Amazonas">Amazonas</option>
                                <option value="Antioquia">Antioqaia</option>
                              </select>  
                        </div>
                        
                      </div>
                      <div class="form-group row">   
                        <label class="col-sm-2 col-form-label">Numero documento:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Numero documento" name="documento" disabled required="true" />
                        </div>
                        <label class="col-sm-2 col-form-label">Municipio:</label>  
                        <div class="col-sm-4">  
                            <select class="form-control" name="municipio" id="cars">
                                <option value="Medellin">Medellin</option>
                                <option value="Bello">Bello</option>
                              </select>  
                        </div>  
                        
                      </div>
                      <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Nombre:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Nombre" name="nombre" required="true" /> 
                        </div>
                        <label class="col-sm-2 col-form-label">Direccion:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Direccion" name="direccion" required="true" /> 
                        </div>
                          
                      </div>
                      <div class="form-group row">  
                        <label class="col-sm-2 col-form-label">Apellido:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Apellido" name="apellido" required="true" />
                        </div>
                        <label class="col-sm-2 col-form-label">Nombre contacto:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Nombre contacto" name="nombreContacto" required="true" />
                        </div>  
          
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Celular:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Celular" name="celular" required="true" />
                        </div>    
                      
                        <label class="col-sm-2 col-form-label">Telefono contacto:</label>  
                        <div class="col-sm-4">  
                          <input class="form-control" type="text" placeholder="Telefono contacto" name="telefonoContacto" required="true" />
                        </div>
                      </div> 
                   </div>  
                  </form> 
                  <!--Fin Formulario-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>


{% endblock content %}
{% block extrajs %}
<script type="text/javascript">
    var editor;
    var selectArray="";
    var $=jQuery.noConflict();

    var visible=0;
    function openBuscar()
    {
        if(visible==0){
            document.getElementsByClassName("dataTables_filter")[0].style.visibility='visible';
            
            visible=1;
        }
        else{
            $('#example').DataTable().search( "" ).draw();
            document.getElementsByClassName("dataTables_filter")[0].style.visibility='hidden';
            visible=0;
        }
    }

    function openPopup(url){
        $('#edicion').load(url,function(){
            $(this).modal('show');
        });
    }
    function deleteRegister(){
      var table = $("#example").DataTable();      
      if(table.rows('.selected').data().length>0){
        if (confirm("¿Esta seguro que desea eliminar este registro?")) {
        alert('Se a eliminado correctamente');
        }

      }else{
        alert( 'Primero debe seleccionar el registro que desea eliminar' );
      }
      

    }
    function openEdit(){
        var table = $("#example").DataTable();
        if(table.rows('.selected').data().length>0){
            var Cedula = table.rows('.selected').data()[0][0];
            var Nombre = table.rows('.selected').data()[0][1];
            var Apellido = table.rows('.selected').data()[0][2];
            var TipoPersona = table.rows('.selected').data()[0][3];
            var TipoDocumento = table.rows('.selected').data()[0][4];
            var Celular = table.rows('.selected').data()[0][5];
            var Correo = table.rows('.selected').data()[0][6];
            var Departamento = table.rows('.selected').data()[0][7];
            var Municipio = table.rows('.selected').data()[0][8];
            var Direccion = table.rows('.selected').data()[0][9];
            var NombreContacto = table.rows('.selected').data()[0][10];
            var TelefonoContacto = table.rows('.selected').data()[0][11];

            //var url="{% url 'EditarCliente' 2  %}"
            $('select[name="TipoPersona"]').val(TipoPersona);
            $('select[name="TipoDocumento"]').val(TipoDocumento);
            $('input[name="nombre"]').val(Nombre);
            $('input[name="apellido"]').val(Apellido);
            $('input[name="documento"]').val(Cedula);
            $('input[name="celular"]').val(Celular);
            $('input[name="email"]').val(Correo);
            $('input[name="direccion"]').val(Direccion);
            $('input[name="nombreContacto"]').val(NombreContacto);
            $('input[name="telefonoContacto"]').val(TelefonoContacto);
            $('select[name="departamento"]').val(Departamento);
            $('select[name="municipio"]').val(Municipio);

            // $('#edicion').load(url,function(){
            $('#edicion').modal('show');
            //});
            
        }else{
            alert( 'Primero debe seleccionar el registro que desea editar' );
        }
       
    }
    $(document).ready(function(){
        var events = $('#events');
        var table = $("#example").DataTable({

        language: {
            "select": {
            "cells": {
                "1": "",
                "_": ""
            },
            "columns": {
                "1": "",
                "_": ""
            },
            "rows": {
                "1": "",
                "_": ""
            }
            },
            "processing": "Procesando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "infoThousands": ",",
            "loadingRecords": "Cargando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros"
            
        },
        "dom": '<"toolbar">frtip',
         //"dom": '<lf<t>ip>',
           // dom: 'Pfrtip',


           // "dom": '<"top"i>rt<"bottom"flp><"clear">',
       

              //2 - tipo de selección 
              select: {
                style: 'single'
                },
                

            //dom: "Bfrtip",
            //ajax: "../php/staff.php",
            searching: true,
            responsive: true,
            "scrollX": true,
            scrollY:        '50vh',
            scrollCollapse: true,

                
            
            
            // buttons: [
            //  {
                // extend: 'selected',
               
                //  action: function ( e, dt, node, config ) {
                //      for (var i = 0; i < table.rows('.selected').data().length; i++) {
                //      selectArray += table.rows('.selected').data()[i][2];
                //      if (i+1 < table.rows('.selected').data().length) {
                //        selectArray += ',';
                //      }
                //      }

                //      var rows = dt.rows( { selected: true } ).count();
    
                //      alert( 'Data seleccionado '+selectArray+'' );
                //  },
                // text: 'Reload',
                //     action: function ( e, dt, node, config ) {
                //         dt.ajax.reload();
                //     },
                // text: 'Reloade',
                //     action: function ( e, dt, node, config ) {
                //         dt.ajax.reload();
                //     }
                
                
                
        //     }
        //  ]

         });

          //$("div.toolbar").html('<button onclick="openPopup("{% url "crearCliente" %}")" style="float: right;" class="btn btn-primary">Crear</button>  ');
     })

</script>
{% endblock extrajs %}

