{% extends 'list.html' %}
 
{% block botones %}
  <div style="position: absolute; z-index: 1; right: 10px; top: 95px;" >
    <button onclick="openPopup('{% url 'cliente:crearCliente' %}')" class="btn btn-primary">Crear</button>  
    <button onclick="openEdit()" class="btn btn-primary">Modificar</button>
    <button onclick="deleteRegister()" class="btn btn-primary">Eliminar</button>
    <button onclick="openBuscar()" class="btn btn-primary">Buscar</button>
  </div>
{% endblock %}

{% block columns %}
  <tr>
    <th>Cedula</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo persona</th>
    <th>Tipo documento</th>
    <th>Celular</th>
    <th>Correo electronico</th>
    <th>Departamento</th>
    <th>Municipio</th>
    <th>Direccion</th>
    <th>Nombre contacto</th>
    <th>Telefono contacto</th>  
  </tr>
{% endblock %}
                
{% block rows %}
  {% for obj in object_list %}
    <tr>
      <td>{{ obj.documento }}</td>
      <td>{{ obj.nombres }}</td>
      <td>{{ obj.apellidos }}</td>
      <td>{{ obj.tipoPersonaId }}</td>
      <td>{{ obj.tipoDocumentoId }}</td>
      <td>{{ obj.celular }}</td>
      <td>{{ obj.correo }}</td>
      <td>{{ obj.departamentoId }}</td>
      <td>{{ obj.municipioId }}</td>
      <td>{{ obj.direccion }}</td>
      <td>{{ obj.nombreContacto }}</td>
      <td>{{ obj.celularContacto }}</td>

    </tr>
  {% endfor %}

{% endblock %}
